<div class="container book-details-container">
	<div id="book-details-loading" class="text-center">
		<span class="spinner-border"></span> Loading book details...
	</div>
	<div id="book-details-error" class="alert alert-danger d-none">
		Could not load book details.
	</div>
	<section id="book-details" class="book-details d-none">
		<!-- JS will inject book details here -->
	</section>
</div>

<script src="/wwwroot/js/books.js"></script>