<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>My Node Website</title>
		<%- include('../partials/head') %>
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<h1>Welcome to My Node.js Website!</h1>
		<button onclick="showAlert()">Click Me</button>
		<%- include('../partials/footer') %>

		<%- include('../partials/scripts') %>
	</body>
</html>